Django==1.6.2
Fabric==1.8.2
Markdown==2.4
Pygments==1.6
django-bootstrap3==3.3.0
django-contrib-comments==1.5
django-password-reset==0.7
pytz==2014.2
ecdsa==0.11
paramiko==1.13.0
pycrypto==2.6.1
-e git+git@github.com:durka/snudown.git#egg=snudown
wsgiref==0.1.2
