{% load comments %}
{% load markdown %}

{% get_comment_list for thing as comment_list %}

<dl>
    {% for comment in comment_list %}
        <dt id="c{{ comment.id }}">
            {% get_comment_count for comment as reply_count %}
            {{ comment.submit_date }} - {{ comment.name }} ({{ reply_count }} repl{{ reply_count|pluralize:"y,ies" }})
        </dt>
        <dd id="cc{{ comment.id }}">
            <span id="ct{{ comment.id }}" data:source="{{ comment.comment }}">
                {{ comment.comment|markdown|safe }}
            </span>
            <br/>
            {% include "pinka_finti.html" with thing=comment type="reply" text="Reply" csrf=csrf %}
        </dd>
        {% if reply_count > 0 %}
            {% include me with thing=comment level=level|add:1 %}
        {% endif %}
    {% endfor %}
    {% if level = 0 %}
        {% include "pinka_finti.html" with thing=thing type="comment" text="New comment" csrf=csrf %}
    {% endif %}
</dl>

