{% load comments %}

<style type="text/css">
    #id_honeypot { display: none }
</style>

{% if user.is_authenticated %}
    <button id="br{{ thing.id }}" onclick="toggle_form('reply', '{{ type }}', '{{ thing.id }}');">{{ text }}</button>
    {% if thing.name == user.username %}
        <button id="be{{ thing.id }}" onclick="toggle_form('edit', '{{ type }}', '{{ thing.id }}');">Edit</button>
    {% endif %}
    <button style="display: none" id="bc{{ thing.id }}" onclick="toggle_form('cancel', '{{ type }}', '{{ thing.id }}');">Cancel</button>
    <div id="{{ type }}{{ thing.id }}" style="display: none">
        {% get_comment_form for thing as form %}
        <form action="{% comment_form_target %}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}"/>
            {{ form.comment }}
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="submit" name="submit" value="Post">
        </form>
    </div>
    {% if thing.name == user.username %}
        <div id="{{ type }}{{ thing.id }}edit" style="display: none">
            {% get_comment_form for this as form %}
            <form action="{% comment_form_target %}" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}"/>
                {{ form.comment }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="submit" name="submit" value="Post">
            </form>
        </div>
    {% endif %}
{% endif %}

