{% load comments %}

<style type="text/css">
    #id_honeypot { display: none }
</style>

{% if user.is_authenticated %}
    <button id="btn_reply_{{ type }}{{ thing.id }}" onclick="toggle_form('reply', '{{ type }}', '{{ thing.id }}');">{{ text }}</button>
    {% if thing.user == user %}
        <button id="btn_edit_{{ type }}{{ thing.id }}" onclick="toggle_form('edit', '{{ type }}', '{{ thing.id }}');">Edit</button>
    {% endif %}
    <button style="display: none" id="btn_cancel_{{ type }}{{ thing.id }}" onclick="toggle_form('cancel', '{{ type }}', '{{ thing.id }}');">Cancel</button>
    <div id="frm_reply_{{ type }}{{ thing.id }}" style="display: none">
        {% get_comment_form for thing as form %}
        <form action="{% comment_form_target %}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}"/>
            {{ form.comment }}
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="submit" name="submit" value="Post">
        </form>
    </div>
    {% if thing.user == user %}
        <div id="frm_edit_{{ type }}{{ thing.id }}" style="display: none">
            {% get_comment_form for thing as form %}
            <form action="/kibytci/comments/cikre/{{ thing.id }}/" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}"/>
                <textarea id="id_comment" rows="10" cols="40" name="comment">{{ thing.comment }}</textarea>
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="submit" name="submit" value="Post">
            </form>
        </div>
    {% endif %}
{% endif %}

