{% extends "base.html" %}

{% block title %}ro gismu{% endblock %}

{% block header %}
<h1>ro gismu</h1>
{% endblock %}

{% block content %}
{% load comments %}
{% load markdown %}
    <ol>
        {% for gismu in gimste %}
            <li>
                <b>{{ gismu }}</b>
                <ul>
                    {% for proposal in gismu.proposals %}
                        {% get_comment_count for proposal as comment_count %}
                        <li>
                            <i>{{ proposal.cmene }}</i> ({{ comment_count }} comment{{ comment_count|pluralize }})
                            <p>
                            <small>(type: {{ proposal.get_klesi_display }} / compat: {{ proposal.get_mapti_display }})</small>
                            </p>
                            <p>
                            {{ proposal.velcki|markdown|safe }}
                            </p>
                            {% include "pinka.html" with thing=proposal me="pinka.html" csrf=csrf_token level=0 %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

